#paticka {
    color: black;
    text-align: justify;
    font-family: 'Noto Sans', sans-serif;
}

footer {
    text-align: right;
    padding-top: 50px;
    padding-bottom: 5px;
    padding-right: 10px;
}

