#paticka {
    color: white;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: right;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
}

