body{
    margin: 0;
    padding: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../obrazky/signup-image.jpg");
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    background-size: cover;
}

#registrdiv{
    padding-top: 260px;
    width: 18%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#registrdiv input{
    display: block;
    width: 250px;
    padding: 20px;
    margin-top: 15px;
}

#registrdiv button{
    display: block;
    width: 200px;
    padding: 10px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    font-size: 16px;
}

input{
    display: block;
}

#registrdiv h1{
    color: white;
}